@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("./assets/scss/_header.scss");
@import url("./assets/scss/_main.scss");
@import url("./assets/scss/_loader.scss");
:root {
  --primary-color: #1a1a1a;
  --accent-color: #e31e24;
  --text-color: #ffffff;
  --secondary-color: #c21717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
